#ice-pic{
    height: 200px;
}

#trotsky-pic{
    height: 200px;
}

#gritty-pic{
    height: 200px;
}

fieldset{
    padding: 20px;
    margin-top: 20px;
}

#thanks-text{
    font-size: 20px;
}

.thanks-links{
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

#application-link{
    font-size: 20px;
}
